#comment_box {
    margin-top:20px;
    padding:5px;
    clear: both;
}

#comments {    
     direction:ltr; 
     padding: 10px 5px;    
}

#addCommentContainer {
    padding:4px;
    margin-bottom: 10px;
}
.comment_item {
    padding: 12px;
    margin-bottom: 10px;
    background-color: #276661;
    margin-top: 12px;
    min-height: 90px;
    overflow: auto;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.comment_item .avatar{
    height: 50px;
    width: 50px;
    margin-top: 5px; 
    border-radius: 50%;
    overflow: hidden;
}

.comment_item .avatar img{
    display:block;
}

.comment_item .comment_info {
    min-height: 27px;    
    direction: ltr;
    padding: 10px;
}

.comment_item .comment_info span.name{
    margin: 8px;
    color: #276661;
    font-size: 10px;
    background-color: #ffc891;
    padding: 7px;
    border-radius: 15px;
}

.comment_item .comment_info span.comment_date{
    margin: 8px;
    color: #276661;
    font-size: 10px;
    background-color: #ffc891;
    padding: 7px;
    border-radius: 15px;
    display: none;
}


.comment_item div.comment_body {
margin: 15px 20px;
    padding-left: 25px;
    background: url(../images/comments.png) no-repeat;
    background-position-x: left;
    background-position-y: 8px;
    text-align: justify;
    clear: both;
    color: white;
}


#addCommentContainer input[type=text]{
margin: 5px 0 5px;
    width: 47%;
    padding: 15px !important;
    min-width: auto;    
}


#addCommentContainer textarea{
     display: block;
    margin: 5px 0px;
    width: 94%;
    height: 150px;
    background-color: #fdfdfd;
    padding: 15px !important;
}

span.error{
width: 250px;
}

span.error-sent{
width: 250px;
}

#submit{    
    margin-top: 5px;
    background-color: #276661;
    color: white;
    border: 0px;
    width: 94%;
}

a.reply {    
float: right;
margin-bottom: 10px;
color: white;
background-color: red;
padding: 5px;
border-radius: 5px;
}

div.comment_item div.comment_part_right {
float: left;
width: 52px;    
}

div.comment_item div.comment_part_left {    
float: right;
width: 90%;    
}


div.comment_item div.comment_part_right span.result_comment_likes {
margin-left: 28px;
    color: #ffffff;
    position: relative;
    top: 27px;   
}

div.comment_item div.comment_part_right .like_comment {    
    background-image: url('../images/like.png');
    width: 50px;
    height: 33px;
    display: inline-block;
}

/* reply --------------------------------------------------------------------------- */

div#replies {
padding-top: 13px;    
}

div.reply_item {    
padding: 12px;
    margin-bottom: 10px;
    margin-top: 12px;
    min-height: 70px;
    margin-right: 10px;
    background-color: #276661;
    color: white;
    overflow: auto;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
     border-color: white;
    border-width: 2px;
    border-style: solid;
}

div.reply_item .avatar{
height: 52px;
    width: 52px;
    border: 1px solid #ccc;    
}

div.reply_item .avatar img{
    display:block;
}

div.reply_item .reply_info {
 min-height: 27px;   
}

div.reply_item .reply_info span.name {
    margin-right: 20px;
    float: left;
    margin: 8px;
    color: #276661;
    font-size: 10px;
    background-color: #ffc891;
    padding: 7px;
    border-radius: 15px;
}

div.reply_item .reply_info span.comment_date {
    margin-right: 30px;
    float: right;
    word-spacing: 2px;
    display: none;
}

div.comment_item div.reply_part_right {    
float: left;
width: 52px;    
}

div.comment_item div.reply_part_left {    
width: 90%;    
}

div.reply_item div.reply_body {
    margin: 10px 20px;
    padding-left: 25px;
    background: url(../images/comments.png) no-repeat;
    background-position-x: left;
    background-position-y: 8px;
    text-align: justify;
    clear: both;
}

#replycomment {    
padding: 0px;
    margin-right: 6px;
    margin-top: 0px;
    clear: both;
}

div.reply_box {
    clear: both;    
}

#replycomment input[type=text] {
margin: 5px 0 5px;
    padding: 3px 6px;
    width: 93px;
    min-width: 93px;
}

#replycomment textarea{
    display: block;
    margin: 5px 0 5px;
    width: 200px;
}

#submit_reply {
    margin-top: 5px;
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}

span.error-sent-reply {
width: 200px;
    margin-right: 6px;    
}

div.no_avatar {
    background-image: url(../images/default_avatar.gif);
    width: 100%;
    height: 100%;
}

.avatar_img {    
    width:50px;
    height:50px
}


@media (max-width:768px) {  
    
div.comment_item div.comment_part_left {    
width: 80%;    
}  

div.comment_item div.reply_part_left {    
width: 70%;    
}
    
#comments {
    padding: 10px 0px;
}    
    
.comment_item {
            padding: 9px 6px;
    }
    
.comment_item .comment_info span.comment_date {
    margin-right: 15px;
    font-size: 18px;
}
    
.comment_item .comment_info span.name {
    margin-right: 8px;
    font-size: 18px;
}
    
.comment_item div.comment_body {
    margin: 10px 8px 10px 5px;    
}
    
    
div.reply_item .reply_info span.comment_date {
display: none;
}
    
div.reply_item .reply_info span.name {
    margin-right: 10px;
    font-size: 18px;
}
    
div.reply_item div.reply_body {
    margin: 10px 5px;    
}    
    
    
    
}