#component_container {  
}

div#main_contact_box {
    text-align: center;
    padding: 10px 0px;
}

div#contact_title {
    background: url(../images/contact_icon.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
    padding-right: 41px;
    width: 160px;
    margin: auto;
    font-weight: bold;
    color: #276661
}

div#contact_information {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 270px;
    padding: 10px 0px;
}

div.contact_row {
    margin-bottom: 10px;
    width: 290px;
    margin: 10px auto;
    text-align: center;   
}

textarea#message {
    width: 270px;
}

div.contact_row input  {
    width: 270px;
}
div.contact_row input#send {
    color: white;
    background-color: #276661;
    border-width: 0px;
}
div.contact_row input#phone  {
    text-align: left;
    direction: ltr;
}

div.g-recaptcha {
     display: block;
    margin: 10px auto;
    max-width: 270px;
}



@media (max-width: 576px) {
    
div#contact_information {
    width: 270px;
}    
    
    
.register_row .contact_row {
    width: 290px;    
}

div.contact_row input {
    width: 270px;
}
    
textarea#message {
    width: 270px;
}    
    
input#send {
    width: 270px;
}
    
div.g-recaptcha {
    position: relative;
    right: -2px;
}    
    
}